
@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-500-normal.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-600-normal.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-700-normal.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-600-italic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-300-normal.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova";      
  src: url('../fonts/proxima-nova-normal-italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
